<div class="projectscontainer">
    <h1> Projects </h1>

    <!--BOOTSTRAP CARD DECK https://getbootstrap.com/docs/4.0/components/card/ -->
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/content/images/WeatherApp.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Weather Application using javascript and API weather key,geolocation and ajax.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/images/Calculator.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">C# GUI calculator</h5>
                <p class="card-text">
                    This calculator was originally an assignment for
                    programming 2 in my second semester.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>