<div class="servicesContainer">
    <h1> Services</h1>

    <!--BOOTSTRAP CARD DECK https://getbootstrap.com/docs/4.0/components/card/ -->
    <div class="card-group">
        <div class="card">
            <img class="s-card-img-top" src="/content/images/Coding.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="s-card-title">Coding</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="s-card-img-top" src="/content/images/webDesign.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Web Design Layout</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="s-card-img-top" src="/content/images/softwareDevelopment.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Web Design Layout </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</div>